$theblue: #2747c5;
$bluetitle: #1f3e72;

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    a{
        text-decoration: none;
    }
}

/************************PATTERN************************/
.back-pattern{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    opacity: 0.1;
    background: repeating-linear-gradient( -45deg, #cccccc, #cccccc 20px, #ffffff 20px, #ffffff 100px );
    z-index: -1;
}

/************************NAVBAR************************/
.navbar-container{
    background-color: rgb(255, 255, 255, 0.9);
    //background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    padding-inline: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: $theblue;
    font-weight: bold;
    font-size: 2.2rem;
    font-weight: 900;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    a{
        color: grey;
        font-size: 1.3rem;
    }
    button{
        background: $theblue;
        color: white;
        border-color: $theblue;
        border-style: none;
        height: 2.5rem;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 7px;
        padding-inline: 1rem;
    }
}

/************************HERO************************/
.container1{
    height: 100%;
    display: flex;
    //align-items: center;
}
.c1-text{
    //position: absolute;
    margin-top: 12rem;
    width: 30%;
    padding-left: 10%;
    padding-right: 4%;
    h1{
        margin: 0;
        font-size: 3.8rem;
        color: $bluetitle;
        font-weight: 900;
    }
    p{
        font-size: 1.7rem;
        color: grey;
    }
}
.c1-img{
    width: 70%;
    background: white;
    img{
        width: 100%;
    }
}
.container1-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7rem;
    font-weight: 700;
    color: $bluetitle;
}

/************************SCHEDULING DIV************************/
.container2{
    position: absolute;
    top: 40rem;
    left: 10%;
    h2{
        color: $bluetitle;
        font-size: 1.5rem;
        font-weight: 900;
    }
}
.container2-txt{
    display: flex;
    align-items: center;
    //justify-content: space-between;
    gap: 1.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    color: $bluetitle;
    .icon{
        font-size: 2rem;
    }
}
.schedule{
    background-color: rgb(255, 255, 255, 0.9);
    padding: 3rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(0, 0, 0, 0.1);
}
.sch-box{
    display: flex;
    .sch-icon{
        height: 100%;
        margin-right: 10px;
        span{
            font-size: 2rem;
        }
    }
    .sch-txt{
        h2{
            color: grey;
            margin: 0;
            font-weight: 700;
        }
        h3{
            color: $bluetitle;
            margin-top: 0.5rem;
            margin-bottom: 0;
            font-size: 1.5rem;
            font-weight: 900;
        }
    }
}
.sch-btn{
    background-color: $theblue;
    color: white;
    height: 4rem;
    padding-inline: 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    border-style: none;
    box-shadow: 5px 5px rgb(0, 0, 0, 0.1);
}

/************************BRANDS************************/
.container-brands{
    padding-inline: 10%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;

}
.brand{
    width: 30%;
    img{
        width: 100%;
        opacity: 0.2;
        filter: grayscale(100%);
    }
}

/************************ADVANTAGES************************/
.adv-intro{
    margin-inline: 10%;
    h2{
        color: $bluetitle;
        font-weight: 800;
        font-size: 3rem;
    }
    p{
        width: 40%;
        font-size: 1.5rem;
        color: grey;
        font-weight: 700;
    }
}